<h1>Productos</h1>
<div class="d-grid gap-2">
    <a class="btn btn-primary" [routerLink]="['/adicionar-producto']">Agregar</a>    
  </div>
<ul class="list-group">
    @for (item of productos; track $index) {
        <li class="list-group-item product mb-1" [routerLink]="['/ver-producto', item.id]">
          <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
              <img [src]="item.thumbnail" alt="" srcset="" class="img-thumbnail">            
            </div>
            <div class="flex-grow-1 ms-3">
              <h3 class="text-primary">{{item.title}}</h3>
              <h3 class="text-danger">$ {{item.price}}</h3>
            </div>
          </div>
        </li>
    }
  </ul>